@{
    ViewBag.Title = "Race Data";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
        <p>
            Applications to help process the data logged in your race car.

            Coming soon....
        </p>
    </div>
</section>
}
